* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
 
.cabecalho {
  background: #0088bd;
  padding: 1.25rem;
}
 
.navigation {display: none;}
 
.navbar {
  display: flex;
  justify-content: space-between;
}
 
.menu {
  list-style: none;
  padding: 1.25rem 0 0;
}
 
.logo,
.nav-item,
.nav-link,
.menu-toggle {
  color:  #fff;
  text-transform: uppercase;
}
 
.logo,
.nav-link {text-decoration: none;}
 
.logo {font-weight: 600;}

/* SOBRE*/ 
.sobre {
  color: #464646;
  margin: 0 auto;
  max-width: 800px;
  padding: 100px;
  text-align: center;
}

.sobre h1 {
  margin-bottom: 10px;
}

/* PORTFOLIO */

.portfolio {
  background: #0088bd;
  color: #fff;
  padding: 100px 15px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 960px;
}

.job {max-width: 400px;}

.job img {margin-bottom: 10px; }

.job p {text-align: center;}

 
.menu-toggle {font-size: 1.25rem;}
 
.nav-item {text-align: center;}
 
.nav-item:not(:last-child) {margin-bottom: 1.25rem;}

/* FOOTER */
.rodape {padding: 50px 20px;}

.wrapper-list {
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.list h4 {
  margin-bottom: 5px;
  text-transform: uppercase;
}

.list li {list-style-type: none;}

.list-link {
  color: #111;
  text-decoration: none;

}

.rodape p {text-align: center;}

.rodape p > a {
  color: #ccc;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}



